/* Estilos para el encabezado */
header {
    background-color: #18191a;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color:#fff
}

/* Estilos para el contenedor principal */
.section-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Estilos para los elementos de la sección */
.subject {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    margin-bottom: 10px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #007bff;
    text-decoration: none;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}